<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinriyouxi.security.mapper.RPermissionMapper">

  <resultMap id="baseResultMap" type="com.jinriyouxi.security.domain.RPermission">
      <result property="name" column="name"></result>
      <result property="service" column="service"></result>
      <result property="controller" column="controller"></result>
      <result property="method" column="method"></result>
      <result property="is_root_permission" column="isRootPermission"></result>
  </resultMap>

  <resultMap id="menuPermissionResultMap" type="com.jinriyouxi.security.dto.RMenuPermissionDTO">
    <result property="menu_id" column="menuId"></result>
    <result property="permission_id" column="permissionId"></result>
    <result property="name" column="name"></result>
    <result property="service" column="service"></result>
    <result property="controller" column="controller"></result>
    <result property="method" column="method"></result>

  </resultMap>

  <select id="selectByClientId" resultMap="baseResultMap">
    SELECT  p.* FROM r_permission p ,r_role_permission r,r_client_role c WHERE r.permission_id = p.id AND r.role_id = c.role_id AND c.client_id = #{clientId}
  </select>

  <select id="selectByUserId" resultMap="baseResultMap">
    select p.* from r_permission p,r_user u,r_user_role r,r_role_menu m,r_menu_permission  mp where u.id = #{id} and u.id = r.user_id and r.role_id = m.role_id and m.menu_id = mp.menu_id and p.id = mp.permission_id
  </select>

  <select id="selectByMenuId" resultMap="menuPermissionResultMap">
    SELECT p.name,p.id AS permission_id,p.method,p.service,p.controller ,rp.id AS menu_id FROM r_permission p LEFT JOIN r_menu_permission rp ON rp.permission_id = p.id WHERE rp.menu_id = #{menuId}
  </select>


</mapper>